/* Economy */
.economy {
  padding: 20px 0;
  margin: -20px 0;
  overflow: hidden;
}
.economy__title {
  font-size: 74px;
  font-weight: 700;
  text-align: right;
  padding-right: 45px;
  color: #eed9d9;
}
.economy__container {
  padding: 0;
  max-width: 1290px;
}
.economy__carts {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: 10px;
}
.economy__cart {
  flex: 0 1 33.333%;
  display: flex;
  flex-direction: column;
}
.economy__cart_red .economy__cart-wrap {
  background: #b15051;
}
.economy__cart_red .economy__cart-title {
  color: #fff;
}
.economy__cart_red .economy__cart-text {
  color: #fff;
}
.economy__cart_red .economy__cart-list {
  color: #fff;
}
.economy__cart-wrap {
  padding: 0 50px 50px;
  height: 100%;
  background: #fff;
  margin-right: 30px;
  margin-top: 80px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 20px;
}
.economy__cart-icon {
  background: #fff;
  transform: translate(0, -50%);
  margin: 0 auto;
  width: 110px;
  min-width: 110px;
  max-width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid #818181;
  padding: 6px;
}
.economy__cart-title {
  margin-top: -25px;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}
.economy__cart-text {
  color: #313131;
  margin-top: 40px;
  line-height: 1.8;
  font-weight: 300;
}
.economy__cart-list {
  color: #313131;
  line-height: 1.8;
  font-weight: 300;
}
.economy__cart-list li::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  background: #fff;
  margin-right: 5px;
  position: relative;
  top: -4px;
  left: 1px;
}

/* Accounts */
.account {
  padding: 140px 0;
}
.account__body {
  display: flex;
  align-items: center;
}
.account__content {
  flex: 0 1 50%;
  padding-left: 20px;
}
.account__content-title {
  color: #232323;
  line-height: 1;
  font-size: 45px;
  font-weight: 600;
}
.account__content-text {
  margin-top: 50px;
  line-height: 1.4;
  font-size: 24px;
  max-width: 570px;
  letter-spacing: 0.7px;
}
.account__image {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
}
.account__image-wrap {
  max-width: 48%;
  text-align: center;
}
.account__image img {
  max-width: 100%;
}

/* Gift */
.gift {
  background-attachment: fixed;
}
.gift.anim-item {
  opacity: 0;
  transition: 0.8s;
}
.gift.anim-item.active {
  opacity: 1;
}
.gift__wrap {
  background: rgba(0, 0, 0, 0.5);
  padding: 60px 0;
}
.gift__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gift__body-text {
  font-size: 37px;
  font-weight: 500;
  line-height: 1.3;
  max-width: 700px;
  color: #fff;
  margin-right: 40px;
}

.gift_consultation {
  background-color: #282828;
  background-position: center top;
}
.gift_consultation .gift__body-text {
  font-size: 37px;
  font-weight: 400;
  max-width: 740px;
}
.gift_consultation .gift__body-text span {
  color: #b1403d;
}

.gift_customer .gift__wrap {
  padding: 40px 0;
  background: transparent;
}
.gift_customer .gift__body-text {
  max-width: 800px;
}

/* Brands */
.brands {
  padding: 15px 0 10%;
  background: #ddd;
}
.brands__title {
  font-size: 56px;
  font-weight: 700;
  color: #d3bebe;
  line-height: 1;
}
.brands__text {
  padding-left: 20px;
  line-height: 1;
  font-size: 21px;
  font-weight: 600;
}
.brands__slider {
  margin-top: 5px;
}
.brands__slider .swiper-slide img {
  max-width: 100%;
}
.brands__slider__wrap {
  max-width: 240px;
}

/* Media */
@media (max-width: 991px) {
  /* Nav */
  .nav_small {
    padding: 17px 0;
  }
  .nav_small .nav__logo-link {
    max-width: 24%;
  }
  .nav_small .burger {
    flex-basis: 14%;
    padding-right: 10px;
  }
  .nav_small .burger__btn {
    height: 12px;
  }
  .nav_small .burger__btn span {
    width: 30px;
  }

  .nav__logo {
    width: 72%;
  }

  .nav__home {
    flex-basis: 14%;
    padding-left: 10px;
    width: 14%;
  }

  /* Economy */
  .economy__cart {
    flex-basis: 50%;
  }
  .economy__cart_red {
    flex-basis: 100%;
  }
  .economy__cart-wrap {
    padding: 0 20px 20px;
  }
  .economy__cart-icon {
    width: 95px;
    height: 95px;
    min-width: 95px;
    max-width: 95px;
  }
  .economy__cart-title {
    margin-top: -15px;
    font-size: 20px;
  }

  .economy__container {
    padding: 0 10px;
  }

  .economy__title {
    font-size: 45px;
  }

  .economy__carts {
    margin-top: -20px;
  }

  /* Account */
  .account__image-wrap {
    max-width: 67%;
  }

  /* Gift */
  .gift__body-text {
    font-size: 17px;
  }

  .gift_consultation .gift__body-text {
    font-size: 17px;
  }

  .gift_customer .gift__body-text {
    padding-left: 70px;
  }
}
@media (max-width: 767px) {
  /* Nav */
  .nav_small {
    padding: 1.3em 0;
  }
  .nav_small .nav__logo-link {
    max-width: 48%;
  }

  /* Economy */
  .economy__title {
    padding-left: 10px;
    padding-right: 0;
    text-align: left;
  }

  .economy__cart {
    flex-basis: 100%;
  }
  .economy__cart-wrap {
    padding: 40px 30px 55px;
    margin-top: 20px;
  }
  .economy__cart-title {
    margin-top: 25px;
  }
  .economy__cart-icon {
    transform: translate(0, 0);
    width: 95px;
    height: 95px;
    min-width: 95px;
    max-width: 95px;
  }
  .economy__cart-text {
    font-size: 14px;
  }
  .economy__cart-list {
    font-size: 14px;
  }

  /* Account */
  .account {
    padding: 85px 0 70px;
  }

  .account__content {
    width: 100%;
    padding-left: 0;
    flex-basis: 100%;
  }
  .account__content-title {
    font-size: 34px;
  }
  .account__content-text {
    max-width: 100%;
  }

  .account__body {
    flex-direction: column;
  }

  .account__image {
    flex-basis: 100%;
    margin-top: 90px;
  }
  .account__image-wrap {
    max-width: 85%;
  }

  /* Gift */
  .gift__wrap {
    padding: 60px 0 40px;
  }

  .gift__body {
    flex-direction: column;
  }
  .gift__body-text {
    text-align: center;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .gift_customer .gift__body-text {
    padding-left: 0;
  }
}
@media (max-width: 575px) {
  /* Nav */
  .nav_small {
    padding: 0.7em 0;
  }
}
@media (max-width: 400px) {
  /* Economy */
  .economy__carts {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=forpages.css.map */
