/* Nav */
.nav .burger__link {
  font-size: 21px;
  font-weight: 300;
}
.nav .burger__link.active {
  color: #b1403d;
}

/* Header */
.header {
  overflow: hidden;
  position: relative;
}
.header__images {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__images-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: 0.15s linear;
}
.header__images-image.active {
  z-index: 2;
}
.header__content {
  padding-bottom: 240px;
  background: rgba(0, 0, 0, 0.7) url("../img/background.png") no-repeat center center/contain;
  position: relative;
  z-index: 2;
  color: #fff;
}
.header__content-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__content-title {
  max-width: 650px;
  margin-top: 140px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2em;
}
.header__content-btn {
  padding: 9px 20px;
}
.header__texts {
  display: inline-block;
  padding: 0.2em 0;
  margin-top: 10px;
  margin-bottom: 70px;
  transition: 0.3s;
  overflow: hidden;
  color: #b1403d;
  line-height: 1.2;
  font-size: 42px;
  font-weight: 600;
}
.header__texts-examples {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  visibility: hidden;
}
.header__texts-examples span {
  white-space: nowrap;
}
.header__texts-text {
  transition: 0.3s;
  border-right: 2px solid #0d0d0d;
}
.header__texts-text span {
  white-space: nowrap;
  padding-right: 9px;
}

/* About */
.about {
  padding: 90px 0 60px;
}
.about__container {
  padding: 0 10px;
}
.about__body {
  display: flex;
  align-items: flex-start;
}
.about__right {
  flex: 0 1 50%;
  width: 50%;
}
.about__content {
  flex: 0 1 50%;
  padding-right: 50px;
}
.about__content-title {
  color: rgba(177, 80, 81, 0.22);
  font-size: 97px;
  font-weight: 700;
  line-height: 1.2;
}
.about__content-text {
  margin-top: 90px;
  font-weight: 300;
  font-size: 15px;
  color: #232323;
  line-height: 26px;
}
.about__image {
  padding-bottom: 75%;
  padding-left: 50px;
  padding-right: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.about__quote-body {
  padding: 20px 25px 25px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.about__quote-wrap {
  max-width: 34vw;
  position: relative;
  z-index: 5;
  transform: translate(-67%, 0);
  margin-top: -25px;
}
.about__quote-text {
  margin-top: 25px;
  display: flex;
  padding-left: 20px;
  border-left: 2px solid #b15051;
}
.about__quote-text p {
  line-height: 1.8;
  color: #3f3f3f;
  font-size: 18px;
}
.about__quote-author {
  margin-top: 60px;
  line-height: 1.4;
  font-size: 18px;
  font-weight: 500;
  color: #b15051;
}

/* Packages */
.packages {
  padding: 90px 0 10px;
}
.packages__title {
  font-size: 50px;
  font-weight: 500;
  color: #222;
}
.packages__title span {
  color: #b15051;
}
.packages__container {
  max-width: 1230px;
  padding: 0 10px;
}
.packages__carts {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
}
.packages__cart {
  flex-shrink: 0;
  flex-basis: auto;
  flex-grow: 1;
  transition: 0.5s;
  padding-right: 2px;
}
.packages__cart:last-child {
  padding-right: 0;
}
.packages__cart.active {
  flex-grow: 4;
}
.packages__cart.active .packages__cart-wrap {
  transition-delay: 0.5s;
  opacity: 1;
  visibility: visible;
}
.packages__cart-image {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 610px;
  min-height: 610px;
  overflow: hidden;
}
.packages__cart-wrap {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  padding: 45px 20px 35px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, background-color 0.3s, visibility 0.3s;
}
.packages__cart-title {
  font-size: 40px;
  font-weight: 700;
}
.packages__cart-price {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 700;
  color: #b1403d;
}
.packages__cart-list {
  margin-top: 80px;
}
.packages__cart-list li {
  line-height: 1.9;
}
.packages__cart-list li::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background: #fff;
  margin-right: 7px;
  position: relative;
  top: -4px;
  left: 1px;
}
.packages__cart-btn {
  margin-top: 23px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 16px;
}

/* Brands */
.brands {
  padding: 15px 0 10%;
  background: #ddd;
  margin-bottom: 10px;
}
.brands__title {
  font-size: 56px;
  font-weight: 700;
  color: #d3bebe;
  line-height: 1;
}
.brands__text {
  padding-left: 20px;
  line-height: 1;
  font-size: 21px;
  font-weight: 600;
}
.brands__slider {
  margin-top: 5px;
}
.brands__slider .swiper-slide img {
  max-width: 100%;
}
.brands__slider__wrap {
  max-width: 240px;
}

/* Design */
.design {
  display: flex;
  position: relative;
  padding: 0 10px;
}
.design__info {
  max-height: 100%;
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 7%;
  z-index: 1;
  padding: 0 10px;
  width: 58%;
}
.design__info-wrap {
  color: #fff;
  padding: 30px 30px 45px;
  background: rgba(0, 0, 0, 0.4);
}
.design__info-title {
  font-size: 49px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 18px;
}
.design__info-text {
  line-height: 1.8;
  margin-bottom: 31px;
  font-weight: 500;
  font-size: 18px;
}
.design__info-btn {
  margin-top: 20px;
}

/* Work */
.work {
  padding: 180px 0 120px;
}
.work__title {
  font-size: 50px;
  font-weight: 500;
}
.work__title span {
  color: #b15051;
}
.work__content {
  margin-top: 90px;
  display: flex;
  align-items: flex-start;
}
.work__tabs {
  max-width: 100%;
}
.work__tab {
  height: 0;
  overflow: hidden;
}
.work__tab-wrap {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 20px);
  transition: 0.3s;
  display: flex;
}
.work__tab-content {
  padding-left: 30px;
  flex: 0 0 54%;
}
.work__tab-content .btn {
  text-align: center;
}
.work__tab-title {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 500;
  line-height: 1;
}
.work__tab-text {
  margin-top: 30px;
  font-size: 17px;
  line-height: 1.8;
  margin-bottom: 140px;
}
.work__tab-image {
  padding-left: 30px;
  flex: 0 0 46%;
}
.work__tab-image img {
  max-width: 100%;
}
.work__tab.active {
  height: unset;
  padding-bottom: 20px;
}
.work__tab.active .work__tab-wrap {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}
.work__btns {
  min-width: 110px;
  text-align: center;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.work__btns-btn {
  flex: 0 0 auto;
  cursor: pointer;
  margin-bottom: 25px;
  font-size: 39px;
  color: #aaa;
}
.work__btns-btn:last-child {
  margin-bottom: 0;
}
.work__btns-btn:hover, .work__btns-btn.active {
  color: #131313;
  font-size: 57px;
}

/* Ready */
.ready {
  background: #2b2b2b;
  padding: 30px 0 70px;
}
.ready__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ready__body .btn {
  white-space: nowrap;
}
.ready__content {
  margin-right: 40px;
  color: #fff;
  max-width: 650px;
}
.ready__title {
  line-height: 1;
  font-size: 32px;
  font-weight: 600;
}
.ready__text {
  margin-top: 35px;
  line-height: 1.8;
  font-size: 18px;
}

/* Compare */
.compare {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.compare__wrap {
  background: rgba(0, 0, 0, 0.8);
  padding: 60px 0 90px;
}
.compare__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2em;
}
.compare__carts {
  padding: 0 80px;
  display: flex;
  flex-wrap: nowrap;
}
.compare__slider .compare-slider__left .compare__slider-text {
  left: 5px;
}
.compare__slider .compare-slider__right .compare__slider-text {
  right: 5px;
}
.compare__slider-text {
  font-size: 16px;
  padding: 0.25em 0.75em;
  display: inline-block;
  color: #fff;
  background: #b15051;
  position: absolute;
  top: 5px;
  z-index: 5;
  white-space: nowrap;
  line-height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.compare__cart {
  flex: 0 1 50%;
  margin-right: 60px;
}
.compare__cart:last-child {
  margin-right: 0;
}
.compare__cart-title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  margin: 60px 0 50px;
  text-align: center;
}
.compare__cart-text {
  padding-left: 20px;
  margin-top: 25px;
  line-height: 1.8;
  max-width: 490px;
}

/* Portfolio */
.portfolio {
  padding: 95px 0 135px;
  position: relative;
}
.portfolio::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1;
  transform: translate(0, -100%);
  clip-path: polygon(100% 100%, 0 0, 0 100%);
  height: 70px;
}
.portfolio__title {
  line-height: 1;
}
.portfolio__title span {
  display: block;
}
.portfolio__title span:first-child {
  font-size: 80px;
  font-weight: 700;
  color: #eed9d9;
}
.portfolio__title span:last-child {
  margin-left: 20px;
  font-size: 47px;
  font-weight: 600;
  color: #3e3e3e;
}
.portfolio__carts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-right: -10px;
}
.portfolio__cart {
  flex: 0 1 33.333%;
  display: flex;
  flex-direction: column;
}
.portfolio__cart:hover .portfolio__cart-content {
  opacity: 1;
}
.portfolio__cart-wrap {
  min-height: 300px;
  margin-top: 10px;
  margin-right: 10px;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio__cart-content {
  opacity: 0;
  transition: 0.5s;
  background: rgba(3, 3, 3, 0.6);
  padding: 40px 70px 65px 65px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.portfolio__cart-title {
  color: #fff;
  line-height: 1.6;
  font-size: 26px;
  margin-bottom: 10px;
}
.portfolio__btn {
  text-align: center;
  margin-top: 70px;
}

/* Compare Slider */
.compare-slider {
  position: relative;
  display: inline-flex;
}
.compare-slider.transition .compare-slider__control {
  transition: 0.3s;
}
.compare-slider.transition .compare-slider__left {
  transition: 0.3s;
}
.compare-slider__control {
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
}
.compare-slider__control::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  z-index: 3;
  height: 100%;
  width: 3px;
  background: #fff;
}
.compare-slider__control:hover {
  cursor: col-resize;
}
.compare-slider__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b15051;
  border-radius: 50%;
  color: #fff;
  width: 40px;
  height: 40px;
  min-width: 40px;
}
.compare-slider__button i {
  font-size: 20px;
  margin-right: 10px;
}
.compare-slider__button i:last-child {
  margin-right: 0;
}
.compare-slider__left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.compare-slider__left img {
  height: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.compare-slider__right {
  position: absolute;
  top: 0;
  right: 0;
  position: relative;
  z-index: 1;
  height: 100%;
}
.compare-slider__right img {
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

/* Footer */
.footer {
  margin-top: 30px;
  background: transparent linear-gradient(180deg, #696969 0%, #000 100%);
  color: #fff;
}
.footer__body {
  padding: 0 25px;
}
.footer__photos {
  transform: translate(0, -95px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__photo {
  overflow: hidden;
  position: relative;
  flex: 0 1 25%;
  padding-bottom: 18%;
  border: 3px solid #b1403d;
}
.footer__photo:hover .footer__photo-title {
  transform: translate(0, 0);
}
.footer__photo:hover .footer__photo-img {
  transform: scale(1);
}
.footer__photo:hover .footer__photo-img::after {
  transform: translate(0, 0);
}
.footer__photo-wrap {
  padding: 30px 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__photo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.17);
  transition: 0.5s;
}
.footer__photo-img::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  transform: translate(100%, 0);
  background: rgba(0, 0, 0, 0.5);
}
.footer__photo-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  transform: translate(0, 500px);
}
.footer__info {
  padding-right: 10px;
  margin-top: -15px;
  margin-bottom: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__info-btn {
  flex: 0 1 25%;
}
.footer__info-btn .btn {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.footer__contacts {
  padding-right: 30px;
  flex: 0 1 25%;
}
.footer__contacts-title {
  font-size: 20px;
}
.footer__contacts-address {
  margin-top: 35px;
  line-height: 1.8;
  font-size: 15px;
}
.footer__contacts-tel {
  display: block;
  margin-top: 45px;
  white-space: nowrap;
  font-size: 15px;
}
.footer__socials {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.footer__socials li {
  margin-right: 12px;
}
.footer__socials li:last-child {
  margin-right: 0;
}
.footer__socials li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.27);
  background: transparent;
  min-width: 28px;
  width: 28px;
  height: 28px;
  transition: 0.3s;
}
.footer__socials li a i {
  font-size: 14px;
  transition: 0.3s;
}
.footer__socials li a:hover {
  background: #fff;
  border-color: #fff;
}
.footer__socials li a:hover i {
  color: #a23d3a;
}
.footer__menus {
  flex: 0 1 50%;
  display: flex;
  align-items: flex-start;
}
.footer__menu {
  padding-left: 15px;
  padding-right: 30px;
  flex: 0 1 50%;
}
.footer__menu-title {
  font-size: 20px;
}
.footer__menu-list {
  margin-top: 40px;
}
.footer__menu-list li {
  padding: 3px 0;
  line-height: 1.8;
  font-size: 15px;
  font-weight: 600;
  color: #b1403d;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
}
.footer__bottom-logo {
  transform: translate(0, -50%);
  max-width: 130px;
}
.footer__bottom-logo img {
  max-width: 100%;
}
.footer__bottom-info {
  align-self: stretch;
  padding: 28px 0 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.46);
  font-size: 14px;
}
.footer__creator {
  color: rgba(255, 255, 255, 0.46);
  font-size: 14px;
}

/* Media */
@media (max-width: 991px) {
  /* Header */
  .header__content {
    padding-bottom: 190px;
  }
  .header__content-title {
    font-size: 39px;
    max-width: 500px;
    margin-top: 90px;
  }

  .header__texts {
    margin-top: 0;
    font-size: 25px;
  }

  /* About */
  .about {
    padding: 10px 0 55px;
  }
  .about__quote-wrap {
    max-width: 47vw;
    margin-right: 50px;
    transform: none;
    margin-left: -50px;
    margin-top: 40px;
  }
  .about__right {
    padding-right: 0;
  }
  .about__content-title {
    padding-right: 30px;
    font-size: 65px;
  }
  .about__content-text {
    padding-right: 65px;
    font-size: 15px;
    margin-top: 115px;
  }

  /* Brands */
  .brands__title {
    font-size: 73px;
  }

  /* Work */
  .work__title {
    font-size: 40px;
  }

  .work__tab-content {
    padding-left: 15px;
  }

  .work__btns {
    margin-left: 15px;
  }

  /* Ready */
  .ready {
    padding: 55px 0 75px;
  }

  /* Compare */
  .compare__title {
    font-size: 40px;
  }

  .compare__cart-title {
    font-size: 17px;
  }

  .compare__carts {
    padding: 0 20px;
  }

  /* Portfolio */
  .portfolio__cart {
    flex-basis: 50%;
  }
  .portfolio__cart-content {
    align-items: flex-end;
  }

  /* Footer */
  .footer__body {
    padding: 0 10px;
  }

  .footer__photos {
    transform: translate(0, -105px);
  }

  .footer__photo {
    padding-bottom: 39%;
    flex-basis: calc(50% - 5px);
    margin-top: 10px;
  }

  .footer__contacts-address, .footer__contacts-tel, .footer__menu-list li {
    font-size: 13px;
  }

  /* Design */
  .design__info {
    left: 0;
  }
}
@media (max-width: 767px) {
  /* Header */
  .header__content {
    padding-bottom: 120px;
  }
  .header__content-title {
    font-size: 27px;
    max-width: 100%;
    margin-top: 80px;
  }
  .header__content-btn {
    margin: 0 auto;
  }

  .header__texts {
    margin-bottom: 170px;
    margin-top: 40px;
    font-size: 26px;
  }

  /* About */
  .about__body {
    flex-direction: column;
    align-items: center;
  }
  .about__container {
    padding: 0 20px;
  }
  .about__quote {
    width: 100%;
  }
  .about__quote-wrap {
    margin-top: 20px;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .about__quote-text {
    font-size: 14px;
  }
  .about__right {
    flex-basis: 100%;
    width: 100%;
  }
  .about__content {
    padding-right: 0;
  }
  .about__content-title {
    padding-right: 0;
    margin-left: -10px;
    font-size: 56px;
  }
  .about__content-text {
    padding: 0 10px;
    font-size: 14px;
    margin-top: 5px;
  }
  .about__image {
    margin-top: 40px;
    width: 100%;
  }

  /* Packages */
  .packages {
    padding: 10px 0;
  }
  .packages__carts {
    flex-direction: column;
  }
  .packages__cart {
    padding-right: 0;
    padding-bottom: 2px;
    flex: none;
  }
  .packages__cart.active {
    flex: none;
  }
  .packages__cart:last-child {
    padding-bottom: 0;
  }
  .packages__cart-image {
    max-height: 100%;
    min-height: 100%;
  }
  .packages__cart-wrap {
    padding: 20px 25px;
    height: unset;
  }
  .packages__cart-title {
    font-size: 29px;
  }
  .packages__cart-price {
    font-size: 29px;
  }

  /* Brands */
  .brands__title {
    font-size: 56px;
  }

  .brands__text {
    font-size: 18px;
  }

  /* Design */
  .design__info {
    width: 100%;
  }

  .design__info-text {
    display: none;
  }

  .design__info-title {
    font-size: 29px;
  }

  .design__info-btn {
    margin-top: 5px;
    font-size: 9px;
    padding: 9px 20px;
    font-weight: 800;
  }

  .design__info-wrap {
    margin-bottom: 40px;
    padding: 25px 15px;
  }

  /* Work */
  .work {
    padding: 200px 0 100px;
  }

  .work__content {
    margin-top: 70px;
    flex-direction: column;
  }

  .work__tabs {
    margin-top: 30px;
    order: 2;
  }

  .work__btns {
    margin-left: 0;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 100%;
  }
  .work__btns-btn {
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 19px;
    min-height: 50px;
    display: flex;
    align-items: center;
  }
  .work__btns-btn.active, .work__btns-btn:hover {
    font-size: 41px;
  }
  .work__btns-btn:last-child {
    margin-right: 0;
  }

  .work__tab-wrap {
    flex-direction: column;
  }

  .work__tab-content {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 0 10px;
  }
  .work__tab-content .btn {
    align-self: center;
  }

  .work__tab-image {
    padding: 0 10px;
    flex-basis: 100%;
  }

  .work__title {
    font-size: 30px;
  }

  /* Ready */
  .ready {
    padding: 40px 0 45px;
  }

  .ready__title {
    font-size: 24px;
  }

  .ready__text {
    margin: 35px 0;
  }

  .ready__body {
    flex-direction: column;
  }
  .ready__body .btn {
    text-align: center;
    font-size: 10px;
    white-space: normal;
  }

  /* Compare */
  .compare__title {
    font-size: 30px;
  }

  .compare__cart {
    flex-basis: 0%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .compare__cart:last-child {
    margin-bottom: 0;
  }

  .compare__cart-title {
    margin-top: 0;
    font-size: 14px;
  }

  .compare__cart-text {
    margin-top: 20px;
    font-size: 10px;
  }

  .compare__wrap {
    padding: 35px 0 80px;
  }

  .compare__carts {
    margin-top: 60px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* Portfolio */
  .portfolio {
    padding: 40px 0 135px;
  }

  .portfolio__carts {
    margin-top: 40px;
  }

  .portfolio__cart {
    flex-basis: 100%;
  }

  .portfolio__title span:last-child {
    font-size: 31px;
    margin-left: 10px;
    margin-top: -15px;
  }

  .portfolio__title span:first-child {
    font-size: 56px;
  }

  .portfolio__cart-content {
    padding: 15px;
    align-items: center;
  }

  .portfolio__cart-title {
    margin-bottom: 0;
    margin-top: 11%;
    font-size: 20px;
  }

  /* Footer */
  .footer__photos {
    transform: translate(0, -105px);
  }

  .footer__photo {
    padding-bottom: 76%;
    flex-basis: 100%;
  }

  .footer__info {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 55px;
  }

  .footer__menus {
    margin-top: 55px;
  }

  .footer__contacts {
    padding-right: 0;
  }

  .footer__contacts-tel {
    text-align: center;
  }

  .footer__socials {
    justify-content: center;
  }

  .footer__menu {
    padding-left: 0;
  }
  .footer__menu:last-child {
    padding-right: 0;
    padding-left: 30px;
  }

  .footer__info-btn {
    text-align: center;
    margin-top: 30px;
  }
  .footer__info-btn .btn {
    font-size: 10px;
  }
}
@media (max-width: 575px) {
  /* Header */
  .header__content-title {
    margin-top: 55px;
  }

  /* Portfolio */
  .portfolio__title span:first-child {
    font-size: 43px;
  }
}
@media (max-width: 400px) {
  /* About */
  .about__content-title {
    margin-bottom: 35px;
  }
}

/*# sourceMappingURL=forroom.css.map */
