/* Header */
.header {
  overflow: hidden;
  position: relative;
}
.header__images {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__images-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: 0.2s linear;
}
.header__images-image.active {
  z-index: 2;
}
.header__content {
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 2;
  color: #fff;
}
.header__content-title {
  margin-top: 125px;
  color: #B1403D;
  font-size: 135px;
  font-weight: 700;
  perspective: 1000px;
  position: relative;
  left: -7px;
}
.header__content-title span {
  display: inline-block;
  animation: headerTitleEffect 9s infinite;
  transform-style: preserve-3d;
  transform-origin: 50% 100%;
}
.header__content-text {
  line-height: 1;
  font-size: 45px;
  font-weight: 500;
  margin-top: 15px;
}
.header__content-slogan {
  line-height: 1.8;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-top: 265px;
}
.header__content-slogan span {
  color: #B1403D;
}

@keyframes headerTitleEffect {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  84% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  90% {
    opacity: 0;
    transform: rotateY(50deg);
  }
  93% {
    opacity: 0;
    transform: rotateY(-80deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
/* About */
.about {
  padding: 110px 0 265px;
}
.about__body {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.about__content {
  padding-left: 20px;
  padding-right: 50px;
  flex: 0 1 50%;
}
.about__content-title {
  color: rgba(177, 80, 81, 0.22);
  font-size: 105px;
  font-weight: 700;
}
.about__content-text {
  margin-top: 30px;
  font-weight: 300;
  font-size: 22px;
  color: #232323;
  line-height: 31px;
}
.about__slider {
  flex: 0 1 50%;
  width: 50%;
  padding-left: 50px;
  padding-right: 40px;
}
.about__slider-wrap {
  width: 100%;
}
.about__slider .swiper-slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 369px;
}
.about__quote-body {
  transform: translate(0, 100%);
  transition: 0.8s;
  opacity: 0;
  padding: 20px 25px 25px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.about__quote-wrap {
  max-width: 440px;
  position: absolute;
  top: 339px;
  left: 50%;
  transform: translate(-63%, 0);
  z-index: 5;
}
.about__quote-wrap.active .about__quote-body {
  transform: translate(0, 0);
  opacity: 1;
}
.about__quote-text {
  margin-top: 25px;
  display: flex;
  padding-left: 20px;
  border-left: 2px solid #B15051;
}
.about__quote-text p {
  line-height: 1.8;
  color: #000;
}
.about__quote-author {
  margin-top: 60px;
  line-height: 1.4;
  font-size: 18px;
  font-weight: 500;
  color: #b15051;
}

/* Info */
.info__wrap {
  overflow: hidden;
}
.info__container {
  max-width: 1210px;
  padding: 0 6px;
}
.info__body {
  display: flex;
  align-items: flex-start;
}
.info__image {
  margin-top: 23px;
  padding-right: 50px;
  flex: 0 1 50%;
}
.info__image-wrap {
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 369px;
}
.info__content {
  flex: 0 1 50%;
  padding-left: 50px;
  padding-right: 40px;
}
.info__content-logo {
  max-width: 270px;
}
.info__content-logo img {
  max-width: 100%;
}
.info__content-title {
  margin-top: 7px;
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
}
.info__content-title::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: linear-gradient(90deg, #B15051 0%, transparent 58%);
  margin-top: 9px;
  transform: translate(100%, 0);
  transition: 0.8s;
}
.info__content-title.active::after {
  transform: translate(0, 0);
}
.info__content-text {
  margin-bottom: 30px;
  margin-top: 12px;
  color: #000;
  line-height: 1.8;
}
.info_reverse .info__body {
  flex-direction: row-reverse;
}
.info_reverse .info__image {
  padding-left: 50px;
  padding-right: 0;
}
.info_reverse .info__content {
  padding-right: 50px;
  padding-left: 40px;
}
.info_reverse .info__content-title::after {
  transform: translate(-100%, 0);
}
.info_reverse .info__content-title.active::after {
  transform: translate(0, 0);
}
.info_forroom {
  margin-top: 80px;
  background: #e7e7e7;
  padding: 70px 0 150px;
  position: relative;
}
.info_forroom::before, .info_forroom::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  background: #e7e7e7;
  z-index: 1;
}
.info_forroom::before {
  top: 0;
  transform: translate(0, -100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  height: 80px;
}
.info_forroom::after {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  bottom: 0;
  transform: translate(0, 100%);
  height: 80px;
}
.info_forhouse {
  background: #2e2e2e;
  position: relative;
}
.info_forhouse::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/background-element.png") repeat;
  background-size: 8% auto;
  opacity: 0.02;
  z-index: 1;
}
.info_forhouse .info__body {
  padding: 160px 0 200px;
  position: relative;
  z-index: 2;
}
.info_forhouse .info__content-title {
  color: #fff;
}
.info_forhouse .info__content-text {
  color: #fff;
}
.info_forum {
  background: #e7e7e7;
  padding: 80px 0 120px;
  position: relative;
}
.info_forum::before, .info_forum::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  background: #e7e7e7;
  z-index: 1;
  top: 0;
  transform: translate(0, -100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  height: 80px;
}
.info_forum .info__image {
  margin-top: 0;
}
.info_forum .info__image-wrap {
  background-position: center top;
}
.info_forum .info__content {
  margin-top: 15px;
}
.info_forum .info__content-logo {
  margin-bottom: 10px;
  max-width: 190px;
}
.info_forum .info__content-logo img {
  max-width: 100%;
}
.info_forum .info__content-text {
  margin-bottom: 50px;
  margin-top: 25px;
}

/* Consultation */
.consultation__body {
  min-height: 40vh;
  display: flex;
}
.consultation__body:hover .consultation__image-image {
  transform: scale(1.2);
}
.consultation__body:hover .consultation__image::before {
  opacity: 1;
}
.consultation__content {
  padding: 15px 55px 15px 130px;
  flex: 0 1 50%;
  margin: auto 0;
}
.consultation__content-subtitle {
  font-weight: 300;
  line-height: 22px;
}
.consultation__content-title {
  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -1.13px;
  color: #B1403D;
  margin-bottom: 35px;
  margin-top: 5px;
}
.consultation__image {
  flex: 0 1 50%;
  overflow: hidden;
  position: relative;
}
.consultation__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 1.5s;
  z-index: 1;
}
.consultation__image-image {
  transition: 1.5s;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Media */
@media (max-width: 1400px) {
  /* About */
  .about__content-title {
    font-size: 65px;
  }
}
@media (max-width: 1250px) {
  /* Footer */
  .footer__body {
    padding: 0;
  }

  .footer__logo-text {
    min-width: unset;
    padding-right: 30px;
  }

  .footer__time {
    margin-right: 30px;
  }

  .footer__logo-img {
    max-width: 85px;
    min-width: 85px;
  }
}
@media (max-width: 991px) {
  /* Header */
  .header__content {
    padding-bottom: 50px;
  }
  .header__content .container {
    padding: 0 7px;
  }
  .header__content-title {
    margin-top: 150px;
    font-size: 108px;
  }
  .header__content-text {
    font-size: 36px;
  }

  /* About */
  .about {
    padding: 10px 0 190px;
  }
  .about__quote-wrap {
    max-width: 47%;
    margin-right: 50px;
    top: 262px;
    transform: none;
  }
  .about__slider {
    padding-left: 35px;
    padding-right: 25px;
  }
  .about__slider .swiper-slide {
    min-height: 221px;
  }
  .about__content {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .about__content-text {
    padding-right: 40px;
    font-size: 20px;
    margin-top: 50px;
  }

  /* Info */
  .info_reverse .info__body {
    padding: 95px 0 160px;
  }
  .info_reverse .info__image {
    padding-left: 30px;
    padding-right: 5px;
  }
  .info_reverse .info__image-wrap {
    min-height: 369px;
  }
  .info_reverse .info__content {
    padding-left: 15px;
    padding-right: 0;
  }
  .info__image {
    flex-basis: 60%;
    padding-right: 0;
    margin-top: 35px;
  }
  .info__image-wrap {
    min-height: 289px;
  }
  .info__content {
    flex-basis: 40%;
    padding-left: 30px;
    padding-right: 0;
  }
  .info__content-title {
    font-size: 18px;
  }
  .info__content-text {
    font-size: 13px;
  }
  .info__content-logo {
    max-width: 66%;
  }
  .info_forroom {
    padding: 20px 0;
  }
  .info_forum {
    padding: 60px 0 120px;
  }
  .info_forum .info__image-wrap {
    min-height: 369px;
  }
  .info_forum .info__content-logo {
    max-width: 46%;
  }

  /* Consultaion */
  .consultation__content {
    padding-left: 50px;
    padding-right: 20px;
  }
  .consultation__content-subtitle {
    font-size: 14px;
  }
  .consultation__content-title {
    font-size: 32px;
    line-height: 36px;
  }

  /* Footer */
  .footer__logo-img {
    margin: 0 5px;
  }

  .footer__logo-text {
    font-size: 9px;
  }

  .footer__time {
    margin-right: 75px;
  }
  .footer__time-text {
    font-size: 10px;
  }
  .footer__time-time {
    font-size: 10px;
  }

  .footer__address-text {
    font-size: 10px;
  }

  .footer__socials li {
    margin-right: 20px;
  }

  .footer__socials li a i {
    font-size: 16px;
  }

  .footer__phone {
    font-size: 13px;
  }

  .footer__copyright {
    font-size: 10px;
  }

  .footer__creator {
    font-size: 10px;
  }

  .footer__info-contacts {
    margin-right: 50px;
  }

  .footer__socials {
    margin-left: 20px;
  }
}
@media (max-width: 850px) {
  /* Footer */
  .footer__time {
    margin-right: 45px;
  }
}
@media (max-width: 767px) {
  /* Header */
  .header__content {
    padding-bottom: 75px;
  }
  .header__content-title {
    font-size: 53px;
    margin-top: 110px;
    left: 0;
  }
  .header__content-text {
    font-size: 26px;
  }
  .header__content-slogan {
    font-size: 20px;
  }

  /* About */
  .about {
    padding-bottom: 60px;
  }
  .about__body {
    flex-direction: column;
    align-items: center;
  }
  .about__slider {
    margin-top: 45px;
    padding: 0;
    flex-basis: 100%;
    width: 100%;
    max-width: 320px;
  }
  .about__quote-wrap {
    position: static;
    margin-top: 20px;
    max-width: 100%;
    margin-right: 0;
  }
  .about__content {
    flex-basis: 100%;
  }
  .about__content-title {
    font-size: 56px;
  }
  .about__content-text {
    padding-right: 0;
    font-size: 14px;
    padding-left: 9px;
    margin-top: 25px;
  }

  /* Info */
  .info__body {
    flex-direction: column;
  }
  .info_reverse .info__body {
    flex-direction: column;
    padding: 110px 0 90px;
  }
  .info_reverse .info__image {
    padding-left: 0;
    padding-right: 0;
  }
  .info_reverse .info__content-text {
    margin-bottom: 25px;
  }
  .info__image {
    margin-top: 0;
    flex-basis: 100%;
    width: 100%;
  }
  .info__image-wrap {
    min-height: 271px;
  }
  .info__content {
    padding-left: 10px;
    flex-basis: 100%;
    width: 100%;
  }
  .info__content-logo {
    width: 50%;
    margin: 25px auto 18px;
  }
  .info__content-text {
    margin-bottom: 40px;
  }
  .info__content-btn {
    text-align: center;
  }
  .info__container {
    padding: 0 10px;
  }
  .info_forum {
    padding: 15px 0 45px;
  }
  .info_forum .info__image-wrap {
    min-height: 271px;
  }
  .info_forum .info__content-logo {
    max-width: 36%;
    margin-top: 10px;
  }

  /* Consultaion */
  .consultation__body {
    flex-direction: column-reverse;
  }

  .consultation__content {
    padding-bottom: 25px;
  }
  .consultation__content-subtitle {
    margin-top: 10px;
    font-size: 11px;
  }
  .consultation__content-title {
    margin-top: 0;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 27px;
  }

  .consultation__image {
    margin: 0 -20px;
    min-height: 200px;
  }

  /* Footer */
  .footer {
    padding: 10px 0 19px;
  }

  .footer__info {
    flex-direction: column;
    align-items: stretch;
  }

  .footer__logo {
    flex-direction: column;
  }
  .footer__logo-img {
    margin: 0;
    max-width: 36%;
    min-width: 36%;
  }
  .footer__logo-text {
    padding-right: 0;
    font-size: 14px;
    margin-top: 15px;
  }

  .footer__info-info {
    width: 100%;
    align-items: flex-start;
    margin-top: 9px;
    justify-content: space-between;
  }

  .footer__info-contacts {
    margin-top: 25px;
    display: flex;
  }

  .footer__socials {
    margin-left: 10px;
  }
  .footer__socials li {
    margin-right: 30px;
  }

  .footer__phone {
    font-size: 15px;
    margin-left: 40px;
  }

  .footer__bottom {
    flex-direction: column;
    text-align: center;
    margin-top: 0;
  }

  .footer__creator {
    margin-top: 5px;
  }

  .footer__copyright {
    margin-right: 0;
  }

  .footer__time {
    margin-right: 40px;
  }
}
@media (max-width: 500px) {
  /* Consultaion */
  .consultation__content {
    padding-left: 10px;
  }

  /* Footer */
  .footer__phone {
    margin-left: 25px;
  }
}
@media (max-width: 400px) {
  /* Header */
  .header__content {
    padding-bottom: 28px;
  }
  .header__content-title {
    margin-top: 65px;
  }
  .header__content-slogan {
    margin-top: 275px;
  }

  /* About */
  .about__content-title {
    font-size: 45px;
  }
}

/*# sourceMappingURL=home.css.map */
