@import "master";

/* Header */

.header {
	background-position: center center;
	&__wrap {
		background: rgba(0, 0, 0, .7);
	}
	&__content {
		padding-bottom: 80px;
		&-title {
			margin-top: 240px;
			color: #dedede;
			font-size: 93px;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
}

/* Forum */

.forum {
	background: #f9f9f9;
	&__wrap {
		padding-top: 130px;
		padding-bottom: 115px;
	}
	&::before {
		display: none;
	}
	&__title {
		margin-bottom: 50px;
		&-title {
			color: #dbb3b3;
		}
	}
	.forum__tab_videos {
		.forum__tab-wrap {
			justify-content: center;
		}
		&.active {
			margin-top: 50px;
		}
	}
	.forum__tab_articles {
		.forum__tab-wrap {
			max-width: 1120px;
			margin: 0 auto;
		}
	}
	.forum__tab-video {
		flex-basis: 50%;
		padding-bottom: 28%;
	}
}

/* Media */

@media (max-width: 991px) {
	/* Header */

	.header__content-title {
		margin-top: 105px;
		font-size: 68px;
	}

	.header__content {
		padding-bottom: 35px;
	}

	/* Forum */

	.forum__wrap {
		padding-top: 75px;
	}

	.forum__title-text {
		margin-top: -25px;
	}
}

@media (max-width: 767px) {
	/* Header */

	.header__content-title {
		text-align: center;
		margin-top: 55px;
		font-size: 47px;
	}

	.header__content {
		padding-bottom: 75px;
	}

	/* Forum */

	.forum__wrap {
		padding-top: 55px;
	}

	.forum__title-text {
		margin-top: -15px;
	}
}

@media (max-width: 575px) {
	/* Forum */

	.forum .forum__tab-video {
		padding-bottom: 45%;
	}
}